  <mat-toolbar color="primary" class="container">
    <button mat-raised-button color="warn" routerLink="">Home</button>
    <button mat-raised-button color="warn" routerLink="counter">Counter</button>
    <button mat-raised-button color="warn" routerLink="posts">Posts</button>
    <button mat-raised-button color="warn" routerLink="auth" *ngIf="!(isAuthenticated | async)">Login</button>
    <button mat-raised-button color="warn" routerLink="auth/signup" *ngIf="!(isAuthenticated | async)">Signup</button>
    <a routerLink="auth" *ngIf="isAuthenticated | async"><button color="warn"  mat-raised-button (click)="onLogout()">Logout</button></a>
  </mat-toolbar>
