.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;

  mat-card{
    mat-card-header{
    margin: 0 auto;
    margin-bottom: 1rem;
    }
   form{
    display: flex;
    flex-direction: column;
   }
  }

}
